.a
{
margin-right:20px;

}

.c{

color:white;
}
.my_menu{

margin-top:47px;
}

.navbar-default{
background:none;
border:none;

}
@media(max-width:1200px){
.my_menu.pull-right(float:none);
}

.foot{
background-color:black;
color:white;

}


.img-responsive{
background-color:black;
}